Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Security==3.0.0
psycopg2-binary==2.9.6
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-CORS==4.0.1
Flask-Script==2.0.6
python-dotenv==1.0.1
elasticsearch==8.13.1
celery==5.4.0
redis==5.0.4
sentry-sdk==2.2.0
msal==1.28.0
Flask-Babel==3.0.0
